@font-face {
  font-family: "TTLakes";
  src: url("../fonts/TTLakes-Regular.eot");
  src: url("../fonts/TTLakes-Regular.eot?iefix") format("eot"),
    url("../fonts/TTLakes-Regular.woff") format("woff"),
    url("../fonts/TTLakes-Regular.ttf") format("truetype"),
    url("../fonts/TTLakes-Regular.svg#webfont") format("svg");
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: "TTLakes-Bold";
  src: url("../fonts/TTLakes-Bold.eot");
  src: url("../fonts/TTLakes-Bold.eot?iefix") format("eot"),
    url("../fonts/TTLakes-Bold.woff") format("woff"),
    url("../fonts/TTLakes-Bold.ttf") format("truetype"),
    url("../fonts/TTLakes-Bold.svg#webfont") format("svg");
  font-weight: 900;
  font-size: normal;
}

@font-face {
  font-family: "TTLakes-Medium";
  src: url("../fonts/TTLakes-Medium.eot");
  src: url("../fonts/TTLakes-Medium.eot?iefix") format("eot"),
    url("../fonts/TTLakes-Medium.woff") format("woff"),
    url("../fonts/TTLakes-Medium.ttf") format("truetype"),
    url("../fonts/TTLakes-Medium.svg#webfont") format("svg");
  font-weight: 500;
  font-size: normal;
}

.offer {
  width: 320px;
  background-color: #f8f8f8;
}

.offer__text {
  font-family: "TTLakes";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  padding: 16px;
}

.offer a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 0px 16px 24px 16px;
}

.offer a span {
  font-family: "TTLakes";
  font-size: 16px;
  line-height: 24px;
  color: #1b1c21;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.offer a::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 31px;
  right: 175px;
  background-image: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .offer {
    width: 100%;
  }
  .offer__text {
    padding: 24px 0px 16px 24px;
  }

  .offer a {
    padding: 0px 24px 24px 24px;
  }

  .offer a::after {
    top: 7px;
    right: 0px;
  }
}

@media (min-width: 1120px) {
  .offer__text {
    width: 50%;
  }
}
